.places__textarea {
  grid-area: paragraph;
  max-width: 484px;
}

@media screen and (max-width: 1279px) {
  .places__textarea {
    max-width: 456px;
  }
}

@media screen and (max-width: 1023px) {
  .places__textarea {
    max-width: 352px;
  }
}

@media screen and (max-width: 767px) {
  .places__textarea {
    max-width: 288px;
    margin: 0 auto;
  }
}